.login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}
.login__form {
  width: 100%;
  max-width: 350px;
  background-color: #fff5e4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0003;
}
.login__title {
  margin-bottom: 20px;
}
.login__div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.login__div:nth-child(3) {
  margin-bottom: 30px;
}
.login__input {
  padding: 6px 8px;
  border: 1px solid #cacaca;
  border-radius: 5px;
}
.login__btn{
  width: 100%;
  padding: 10px 15px;
  color: white;
  background-color: var(--color-red);
  border: none;
  font-weight: 500;
  border-radius: 5px;
  transition: filter 100ms ease;
  cursor: pointer;
  font-size: 15px;
}
.login__btn:hover {
  filter: brightness(1.05);
  transition: filter 100ms ease;
}