.footer1 {
    border: 2px solid #ccc7;
    box-shadow: 0px 0px 12px #ccc7;
    background-color: #fff5e4;
    height: 130px;
}

.footer2 {
    display: flex;
    justify-content: center;
    margin-left: 1.7rem;
    margin-top: 16px;
}


.footer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin: 8px;
    color: red;
}

.footer3 a {
    padding: 10px;
}

.footer3 a:hover {
    border: 2px solid #ccc7;
    box-shadow: 0px 0px 8px #ccc7;
}


